* {
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    width: 100%;
    height: 8%;
    position: fixed;
    z-index: 10;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
           justify-content: space-evenly;
    
    

}
i{
    display:none !important;
    
  }

header>nav, ul, li>img{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
   
    
}

ul{
    list-style-type: none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;


}

.list{
   
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    color: #636060;
    padding-left: 50px;

}


header > img{
    width: 33px;
height: 42px;



}




.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin:auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;



    
}


.imga {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 84px auto;
    width: 70%;
    height: 50vh;
    background-image: url(../images/beach.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFF;
    padding: 100px 20px;
}

.imga > div >h1 {
    font-family: Helvetica;
    font-size: 3rem;
    font-weight: 700;
}

.imga > div > p {
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: 700;
}


.discover{
    width: 12%;
    height: 100%;
 padding: 5px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

.discover > h1{
    font-family: Helvetica;
font-size: 17px;
font-weight: 400;
color: #636060;
margin-bottom: 9px;
}

.discover > h2{
    font-family: Helvetica;
font-size: 28px;
font-weight: 400;
margin-bottom: 37px;

}

.discover > p{
   
        font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    color: #636060;
    
    
}


.cards{
    height: 900px;
    width: 1205px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


.card1{
    width: 289px;
    height: 292px;
    margin-right: 33px;
   
    
    
}

.card1 > img{
    width: 100%;
    height: 174px;
    margin-bottom: 23px;
}

.card1 > h1{
    font-family: Helvetica;
font-size: 19px;
font-weight: 400;
color: #343232;
width: 100%;
margin-bottom: 9px;


}

.card1 > p{
    font-family: Helvetica;
font-size: 18px;
font-weight: 400;
color: #636060;

}


